In [1]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\prate\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector as c

In [3]:
import pandas as pd

In [23]:
connection = c.connect(host= "localhost",user= "root", database = "Multi_Specialty_Hospital")

In [46]:
cursor = connection.cursor()

In [47]:
query2 = "select * from patients"

In [48]:
# executing cursor
cursor.execute(query2)

In [49]:
# fetching tables
table_rows = cursor.fetchall()
print("Total Number of rows in table:", cursor.rowcount)

Total Number of rows in table: 5

In [50]:
df

,CUSTOMER_NAME,CUSTOMER_ID,CUSTOMER_OPEN_DATE,LAST_CONSULTED_DATE,VACCINATION_TYPE,DOCTOR_CONSULTED,STATE,COUNTRY,DOB,FLAG
0,Alex,123457,2012-10-12,2012-10-13,MVD,Paul,SA,USA,1987-03-06,A
1,Jacob,1256,2012-10-12,2012-10-13,MVD,,VIC,AU,1987-03-06,A
2,Jhon,123458,2012-10-12,2012-10-13,MVD,,TN,IND,1987-03-06,A
3,Mathew,123459,2012-10-12,2012-10-13,MVD,,WAS,PHIL,1987-03-06,A
4,Matt,12345,2012-10-12,2012-10-13,MVD,,BOS,NYC,1987-03-06,A

In [44]:
df = pd.read_sql('SELECT * FROM patients', con=connection)  # fitting into pandas dataframe
df.set_index(['CUSTOMER_NAME', 'CUSTOMER_ID', 'CUSTOMER_OPEN_DATE', 'LAST_CONSULTED_DATE', 'VACCINATION_TYPE', 'DOCTOR_CONSULTED', 'STATE', 'COUNTRY', 'DOB', 'FLAG'],axis=1,inplace=True)  # setting default index

Empty DataFrame
Columns: []
Index: [(Alex, 123457, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, Paul, SA, USA, 1987-03-06 00:00:00, A), (Jacob, 1256, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, , VIC, AU, 1987-03-06 00:00:00, A), (Jhon, 123458, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, , TN, IND, 1987-03-06 00:00:00, A), (Mathew, 123459, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, , WAS, PHIL, 1987-03-06 00:00:00, A), (Matt, 12345, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, , BOS, NYC, 1987-03-06 00:00:00, A)]

In [42]:
df

Empty DataFrame
Columns: []
Index: [(Alex, 123457, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, Paul, SA, USA, 1987-03-06 00:00:00, A), (Jacob, 1256, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, , VIC, AU, 1987-03-06 00:00:00, A), (Jhon, 123458, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, , TN, IND, 1987-03-06 00:00:00, A), (Mathew, 123459, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, , WAS, PHIL, 1987-03-06 00:00:00, A), (Matt, 12345, 2012-10-12 00:00:00, 2012-10-13 00:00:00, MVD, , BOS, NYC, 1987-03-06 00:00:00, A)]

In [52]:
ans = df.loc[df['COUNTRY'] == "IND"]

In [60]:
def show_data(country):
    data = df.loc[df['COUNTRY'] == country]
    print(data)

In [61]:
def get_file(country):
    data = df.loc[df['COUNTRY'] == country]
    file_name = str(country)
    data.to_csv('C:/Users/prate/Incubyte_Assignment' + country + ".csv")  # replace path with your desired path
    print("File has been created to the specified path")

In [62]:
# calling functions

show_data("IND")
get_file("IND")

  CUSTOMER_NAME CUSTOMER_ID CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
2          Jhon      123458         2012-10-12          2012-10-13

  VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
2              MVD                     TN     IND  1987-03-06    A
File has been created to the specified path

In [63]:
show_data("AUS")
get_file("AUS")

Empty DataFrame
Columns: [CUSTOMER_NAME, CUSTOMER_ID, CUSTOMER_OPEN_DATE, LAST_CONSULTED_DATE, VACCINATION_TYPE, DOCTOR_CONSULTED, STATE, COUNTRY, DOB, FLAG]
Index: []
File has been created to the specified path

In [ ]:
\